* {
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 2.5em;
    background-color: #eee9ee;
  }
  h1 {
    font-size: 2.5em;
    color: #131125;
    font-weight: 700;
    margin: 0;
  }
  p {
    line-height: 180%;
  }
  .login-box {
    display: flex;
    width: 75em;
    height: 85vh;
    min-height: 60em;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.425);
  }
  .login-box-formbox, .login-box-quotebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 100%;
    padding: 4em 6em;
  }
  .login-box-quotebox {
    color: white;
    background-color: #674baf;
    background-image: url(https://alcs-huddle.netlify.app/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  .login-box-signup a {
    color: #a0a4e3;
    font-weight: 600;
    text-decoration: inherit;
  }
  .login-box-signup a:hover, .login-box-signup a:focus {
    color: #0f1396;
  }
  .login-box-login {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-grow: 1;
  }
  .login-box-login > * {
    width: 100%;
    flex-shrink: 0;
  }
  form > div {
    position: relative;
    padding: 1.5em 0;
  }
  form > div input {
    color: #000;
    width: 100%;
    padding: 1.5em 2em;
    border: 1px solid #bebebe;
    border-radius: 5px;
  }
  form > div input.input-email, form > div input.input-password {
    background-repeat: no-repeat;
    background-position: right 1em top 1.25em;
  }
  form > div input.input-email {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="lightgrey" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="4"></circle><path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path></svg>');
  }
  form > div input.input-password {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="lightgrey" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="5" y="11" width="14" height="10" rx="2"></rect><circle cx="12" cy="16" r="1"></circle><path d="M8 11v-4a4 4 0 0 1 8 0v4"></path></svg>');
  }
  form > div input:focus {
    outline-color: #674baf;
    border-color: #674baf;
  }
  form > div label {
    font-size: 0.85em;
    position: absolute;
    top: 1.25em;
    left: 1.5em;
    background: #ffffff;
    padding: 0 0.5em;
  }
  form > div:focus-within label {
    color: #674baf;
    font-weight: 600;
  }
  form > div .btn {
    color: #ffffff;
    font-size: 1.2em;
    padding: 1rem;
    letter-spacing: 1px;
    line-height: 1;
    background-color: #674baf;
    border-color: #674baf;
    cursor: pointer;
    transition: all 500ms ease;
  }
  form > div .btn:hover, form > div .btn:focus {
    background-color: #733bff;
    border-color: #733bff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
  .alternate-text {
    display: flex;
    align-items: center;
    margin: 1.5em 0;
    text-align: center;
  }
  .alternate-text::before, .alternate-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #bebebe;
  }
  .alternate-text::before {
    margin-right: 1em;
  }
  .alternate-text::after {
    margin-left: 1em;
  }
  .alternate-boxes {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1.5em;
  }
  .alternate-box {
    color: #131125;
    text-align: center;
    width: 100%;
    padding: 1em 1em;
    border: 1px solid rgba(190, 190, 190, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms ease;
  }
  .alternate-box svg {
    transition: transform 500ms ease;
  }
  .alternate-box:hover {
    border-color: #bebebe;
    background-color: rgba(190, 190, 190, 0.25);
  }
  .alternate-box:hover svg {
    transform: scale(1.25);
  }
  .quote-container {
    padding: 1em 0;
    position: relative;
  }
  .quote {
    color: #ffffff;
    font-size: 7em;
    font-weight: 600;
    line-height: 1;
  }
  .quote-small {
    color: #ebeef7;
    line-height: 180%;
    padding: 2em 0 0 6em;
    position: relative;
  }
  .quote-small::before {
    content: "";
    position: absolute;
    top: 2.75em;
    left: 1.2em;
    width: 3em;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.25);
  }
  .alert-error {
    padding: 8px;
    border-radius: 3px;
    font-size: 0.7rem;
    margin-bottom: 16px;
    border: 2px solid darkred;
    background-color: red;
    color: white;
  }