<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/assets/favicons/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>QuizEasy | Home</title>
</head>

<body>
    <main>
        <div class="text-center">
            <img width="190px" src="../static/assets/logoWhite.png" alt="QuizEasy">
        </div>

        <article>

            <div class="illustration">
                <div class="fadein">
                    <img src="../static/assets/upload1.svg">
                    <img src="../static/assets/quiz2.svg">
                    <img src="../static/assets/result3.svg">
                </div>
            </div>

            <div class="content">

                <h1>Quiz practice while you learn!</h1>

                <p>Generates a dynamic quiz from any uploaded text/PDF document using NLP. This can be used for
                    self-analysis, question paper generation, and evaluation, thus reducing human effort.</p>
                <a href=signin><button>Get Started</button></a>
            </div>

        </article>

        <ul class="SocialMedia">
            <li>
                <a class="github-button" href="https://github.com/KG-1510/quiz-web-app-using-ml"
                    data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large"
                    data-show-count="true" aria-label="Star KG-1510/quiz-web-app-using-ml on GitHub">Star On Github
                </a>
            </li>
        </ul>

    </main>

    <footer class="mt-5">
        <p class="attribution"> © Copyright 2021 | Crafted with ❤️ by Team QuizEasy</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="../static/scripts/index.js"></script>
</body>

</html>