<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/assets/favicons/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="../static/css/signin.css">
    <title>QuizEasy | Login</title>
</head>


<body>
    <div class="login-box">
        <div class="login-box-formbox">
            <div class="login-box-login">
                <h1>Login to QuizEasy</h1>
                <p>
                    Sign in using your registered credentials
                </p>
                {% for message in get_flashed_messages() %}
                {% if message.find('Awesome') != -1%}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% endif %}
                {% endfor %}
                <form method="POST">
                    <div>
                        <label for="email"> E-Mail</label>
                        <input type="email" name="Username" class="input-email" autofocus/>
                    </div>
                    <div>
                        <label for="password"> Password</label>
                        <input type="password" name="Password" class="input-password" id="loginpw" />
                    </div>
                    <input type="checkbox" onclick="showPw()"> Show Password
                    <div>
                        <input type="submit" value="Login to account" class="btn" />
                    </div>
                </form>
                <div class="login-box-signup text-center">
                    Don't have an account? <a href=signup>Sign Up</a>
                </div>
            </div>
        </div>
        <div class="login-box-quotebox">
            <div class="quote-container">
                <img src="../static/assets/login.svg" alt="loginVector">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../static/scripts/signin.js"></script>
</body>

</html>